* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #3e4560;
    color: white;
}

.container {
    padding: 0 10px;
}

.title {
    text-align: center;
    margin: 20px;
    color: #d6adf0;
}

label {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}

input {
    margin-bottom: 25px;
}

input[type="text"]{
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
}

.slider {
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #bf74f0;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #bf74f0;
    cursor: pointer;
}

.box {
    height:100px;
    width: 100%;
    background-color: #bf74f0;
    margin-bottom: 25px;
}

.toggle-text {
    font-size: 18px;
}

.toggle {
    display: flex;
    align-items: center;
    margin-bottom: 20px
}

.toggle-btn {
    height: 30px;
    width: 60px;
    background-color: gray;
    border-radius: 30px;
    padding: 5px;
    margin: 0 10px;
}

.inner-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    transition: all 250ms;
}

.toggle-btn.toggled > .inner-circle {
    transform: translateX(30px);
    background-color: #333;
}

.unselected {
    opacity: 0.25;
}